* {
    text-align: center;
    align-content: center;
}

.app-bar {
    background-color: royalblue;
}

.Header {
    color: rgb(134, 40, 248);
    background-color: whitesmoke;
}

.list {
    list-style-type: none;
}

.single-review-heading {
    display: inline-block;
    padding: 10px
}

#review-title {
    color: rgb(125, 108, 83);
}

#game-designer {
    color: rgb(106, 106, 106);
    border-style: dashed;
    border-color: rgb(106, 106, 106);
}

.single-review-footer {
    display: inline-block;
    padding: 10px
}

#review-owner {
    position: relative;
    right: 195px;
    border-style: dotted;
    border-color: blueviolet;
    color: blueviolet;
}

#single-review-body {
    border-style: double;
    position: relative;
    top: 25px

}

#review-comments {
    position: relative;
    top: 25px
}

.review-comment-count {
    padding: 20px
}

#comment-author {
    text-decoration: underline;
    color: rgb(106, 106, 106)
}

#comment-body {
    border-style: solid;
}

.votes-total {
    padding: 5px
}