* {
    text-align: center;
    align-content: center;
}

.app-bar {
    background-color: royalblue;
}

.Header {
    color: rgb(134, 40, 248);
    background-color: whitesmoke;
}

.list {
    list-style-type: none;
}

.single-review-heading {
    display: inline-block;
    padding: 10px
}

#review-title {
    color: rgb(125, 108, 83);
}

#game-designer {
    color: rgb(106, 106, 106);
    border-style: dashed;
    border-color: rgb(106, 106, 106);
}

.review-comment-count {
    padding: 20px
}

#review-owner {
    color: blueviolet;
    padding: 10px
}

#single-review-body {
    border-style: double;
    position: relative;
    top: 25px

}

#review-comments {
    position: relative;
    top: 25px
}

#comment-author {
    text-decoration: underline;
    color: rgb(106, 106, 106)
}

#comment-body {
    border-style: solid;
}

.votes-total {
    padding: 15px
}

.button:disabled,
button[disabled] {
    background-color: rgba(204, 204, 204, 0.561);
}

#comment-form {
    padding: 25px;
}

#comment-label {
    position: relative;
    bottom: 10px
}

#comment-button {
    position: relative;
    top: 10px
}

.link-text {
    color: whitesmoke;
    text-decoration: none
}